/* Prettified by Source 2 Viewer 15.0.0.0 - https://valveresourceformat.github.io */

.Hidden
{
	opacity: 0.0;
}

#HighFive
{
	width: 60px;
	height: 60px;
	padding-top: 2px;
	vertical-align: bottom;
	opacity-mask: url("s2r://panorama/images/spellicons/consumables/plus_high_five_png.vtex");
	background-image: url("s2r://panorama/images/spellicons/consumables/plus_high_five_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transition-duration: 0.2s;
	transition-property: opacity, transform;
	opacity: 1.0;
	brightness: 1.0;
}

#HighFive:hover
{
	brightness: 1.25;
}

#CooldownContainer
{
	width: 100%;
	height: 100%;
	vertical-align: bottom;
}

#CooldownBackground
{
	width: 100%;
	height: 100%;
	background-color: #000000d9;
}

#CooldownLabel
{
	vertical-align: bottom;
	padding: 0px 3px;
	text-overflow: shrink;
	text-shadow: 2px 2px 4px 2 black;
	transform: translateY(2px);
	font-size: 16px;
	color: #999;
}

