/* Prettified by Source 2 Viewer 15.0.0.0 - https://valveresourceformat.github.io */

#CustomMorphProgress
{
	width: 104px;
	height: 10px;
	margin-bottom: 33px;
	margin-left: 132px;
	vertical-align: bottom;
	horizontal-align: center;
	border: 1px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-radius: 0px;
	visibility: collapse;
}

.Reborn .CustomHasMorph.npc_dota_hero_rubick #CustomMorphProgress
{
	margin-left: 167px;
}

.CustomHasMorph #CustomMorphProgress
{
	visibility: visible;
}

.CustomHeroStatValue
{
	margin-left: 6px;
	margin-bottom: 14px;
	vertical-align: bottom;
	color: #00dd00;
	font-size: 12px;
	font-weight: thin;
	visibility: collapse;
}

.Reborn .CustomHasMorph #Ability3 #CustomAgiValue,.Reborn .CustomHasMorph #Ability4 #CustomStrValue
{
	visibility: visible;
	text-shadow: 0px 0px 3px 3 #000000;
}

.Reborn .CustomHasMorph #Ability4 .CustomHeroStatValue
{
	horizontal-align: right;
	margin-right: 4px;
	color: #dd0000;
}

.Reborn .CustomHasMorph .toggle_enabled .CustomHeroStatValue
{
	font-weight: bold;
	margin-bottom: 12px;
}

