/* Prettified by Source 2 Viewer 15.0.0.0 - https://valveresourceformat.github.io */

@define NeutralTier1: #BEBEBE;
@define NeutralTier2: #92E47E;
@define NeutralTier3: #7F93FC;
@define NeutralTier4: #D57BFF;
@define NeutralTier5: #FFE195;
.CustomTeamNeutralItems
{
	flow-children: down;
	width: 100%;
	margin-top: 13px;
}

.ShowAllNeutralItems .CustomTeamNeutralItems
{
	visibility: collapse;
}

.CustomAllNeutralItems
{
	width: 100%;
	flow-children: down;
	visibility: collapse;
}

.ShowAllNeutralItems .CustomAllNeutralItems
{
	visibility: visible;
}

.ShowAllNeutralItems .NeutralItemsToggleButton
{
	padding: 2px 6px 2px 6px;
}

#NeutralItemsList #NeutralShopItem
{
	width: 48px;
	height: width-percentage( 72.7% );
	margin: 2px;
	saturation: 0.2;
	brightness: 0.2;
	transition-property: saturation, brightness;
	transition-duration: 0.2s;
}

#NeutralItemsList #NeutralShopItem.NeutralItemFound
{
	saturation: 1.0;
	brightness: 1.0;
	border: 1px solid #ccc;
}

.HideUndiscoveredNeutralItems #NeutralItemsList #NeutralShopItem
{
	visibility: collapse;
}

.HideUndiscoveredNeutralItems #NeutralItemsList #NeutralShopItem.NeutralItemFound
{
	visibility: visible;
}

.HideUndiscoveredNeutralItems #GridNeutralItems
{
	horizontal-align: left;
}

.CustomTeamNeutralItem #ShopItem
{
	width: 60px;
	height: width-percentage( 72.7% );
	margin: 0px 6px 5px 6px;
	box-shadow: 0px 0px 12px #0009;
	border: 1px solid #333333;
}

.CustomTeamNeutralItem #ShopItem.Hidden
{
	opacity: 1.0;
}

.CustomTeamNeutralItem.InTeamStash #ShopItem
{
	border: 1px solid goldColor;
	saturation: 1.0;
	brightness: 1.0;
	box-shadow: 0px 0px 20px #66666620;
}

.CustomTeamNeutralItem.Equipped #ShopItem,.CustomTeamNeutralItem.InBackpack #ShopItem,.CustomTeamNeutralItem.InPlayerStash #ShopItem,.CustomTeamNeutralItem.OnCourier #ShopItem,.CustomTeamNeutralItem.Consumed #ShopItem,.CustomTeamNeutralItem.Unknown #ShopItem
{
	border: 1px solid #999999;
	saturation: 0.2;
	brightness: 0.2;
}

.CustomTeamNeutralItem.Unknown #ShopItem
{
	saturation: 0.4;
	brightness: 0.4;
}

.CustomTeamNeutralItem #HeroImage
{
	width: 24px;
	height: 24px;
	vertical-align: bottom;
	horizontal-align: right;
	margin-bottom: 14px;
	saturation: 0.2;
	brightness: 0.5;
	img-shadow: 0px 0px 15px #00000090;
}

.CustomTeamNeutralItem.Equipped #HeroImage
{
	saturation: 1.0;
	brightness: 1.0;
}

.CustomNeutralItemsTier
{
	max-width: 350px;
	flow-children: down;
	margin-top: 2px;
}

.CustomNeutralItemsTierHeader
{
	flow-children: right;
	width: 100%;
	padding: 0px 2px;
}

.CustomNeutralItemsTierName
{
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;
	color: #999;
}

.NeutralTier1 .CustomNeutralItemsTierName
{
	color: NeutralTier1;
}

.NeutralTier2 .CustomNeutralItemsTierName
{
	color: NeutralTier2;
}

.NeutralTier3 .CustomNeutralItemsTierName
{
	color: NeutralTier3;
}

.NeutralTier4 .CustomNeutralItemsTierName
{
	color: NeutralTier4;
}

.NeutralTier5 .CustomNeutralItemsTierName
{
	color: NeutralTier5;
}

.CustomNeutralItemsTierTimes
{
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
	color: #666;
	margin-bottom: 2px;
	margin-top: 3px;
	text-align: right;
}

.TierActive .CustomNeutralItemsTierTimes
{
	visibility: collapse;
}

.CustomNeutralItemsTierCount
{
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
	color: #dedede;
	text-align: right;
	margin-bottom: 2px;
	margin-top: 3px;
	visibility: collapse;
}

.TierActive .CustomNeutralItemsTierCount
{
	visibility: visible;
}

#CustomGridNeutralItems
{
	flow-children: down;
	horizontal-align: center;
	margin-top: 4px;
}

.CustomTeamNeutralItemsTierHeader
{
	flow-children: right;
	width: 100%;
	horizontal-align: center;
	padding: 0px 6px;
}

