/* Prettified by Source 2 Viewer 15.0.0.0 - https://valveresourceformat.github.io */

.ToastPanel
{
	height: 30px;
	margin-top: 5px;
	overflow: noclip;
	flow-children: left;
}

.HUDFlipped .ToastPanel
{
	flow-children: right;
}

