/* Prettified by Source 2 Viewer 15.0.0.0 - https://valveresourceformat.github.io */

.InvokerAbilities #PatchSelectionBox
{
	margin-bottom: 72px;
}

#PatchSelectionBox
{
	width: 500px;
	height: 175px;
	margin-left: 65px;
	margin-bottom: 52px;
	vertical-align: bottom;
	horizontal-align: center;
}

#PatchSelectionTitle
{
	margin-top: 23px;
	horizontal-align: center;
	color: #ccc;
	text-overflow: shrink;
	text-transform: uppercase;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 2px;
	text-shadow: 1px 1px 3px 2 black;
}

#PatchesBox
{
	width: 95%;
	height: 65%;
	margin-bottom: 15px;
	vertical-align: bottom;
	horizontal-align: center;
}

#PatchesContainer
{
	height: fit-children;
	margin-bottom: 15px;
	vertical-align: center;
	horizontal-align: center;
	flow-children: right-wrap;
}

.PatchButton
{
	height: 50px;
	width: 120px;
	margin: 5px;
	background-color: gradient(linear, 0% 0%, 0% 100%, from(#272d31), to(#191919));
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
	background-size: cover;
	border: 1px solid #62626290;
	transition-property: brightness;
	transition-duration: 0.12s;
	transition-timing-function: ease-in-out;
}

.PatchButton.Selected
{
	brightness: 1.2;
}

.PatchButton:hover
{
	brightness: 1.4;
	box-shadow: fill #414f4daa 0px 0px 8px 0px;
}

.PatchButton:active
{
	sound: "ui.click_forward";
}

.PatchButton.CurrentPatch Label
{
	font-size: 28px;
}

.PatchButton Label
{
	font-size: 32px;
	font-weight: semi-bold;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #a1a1a1;
	text-shadow: 0px 0px 5px 3 #000000;
	text-overflow: shrink;
	vertical-align: center;
	horizontal-align: center;
	brightness: 0.5;
	transition-property: color, brightness;
	transition-duration: 0.06s;
	transition-timing-function: ease-out;
	margin-left: 2px;
	margin-right: 0px;
}

.PatchButton.Selected Label
{
	color: white;
	brightness: 1.0;
}

.InvokerAbilities #PatchAbilityTooltip
{
	margin-bottom: 10px;
}

#PatchAbilityTooltip
{
	margin-left: 75px;
	margin-bottom: 35px;
	vertical-align: bottom;
	horizontal-align: center;
}

.InvokerAbilities #PatchAbilityTooltipContainer
{
	width: 422px;
	flow-children: right-wrap;
}

#PatchAbilityTooltipContainer
{
	width: fit-children;
	vertical-align: center;
	horizontal-align: center;
	flow-children: right;
	transition-property: opacity;
	transition-duration: 0.1s;
	transition-timing-function: ease-out;
	opacity: 1.0;
}

#PatchAbilityTooltipContainer.TooltipAnimation
{
	opacity: 0.0;
}

.PatchAbility
{
	width: 48px;
	height: 48px;
	margin: 3px;
	img-shadow: 0px 2px 12px black;
	tooltip-position: top;
}

#PatchScepterTooltipContainer
{
	width: 48px;
	height: 48px;
	background-position: 0px 0px;
	margin-left: 3px;
	margin-top: 4px;
	img-shadow: 0px 4px 8px black;
	background-image: url("s2r://panorama/images/hud/reborn/aghs_off_large_png.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	brightness: 0.9;
	tooltip-position: top;
}

#PatchScepterTooltipContainer.NoShard
{
	width: 42px;
	height: 42px;
	margin-left: 8px;
	margin-top: 7px;
	background-image: url("s2r://panorama/images/hud/reborn/aghsstatus_scepter_psd.vtex");
	brightness: 2.6;
}

#PatchScepterTooltipContainer.NoScepter
{
	visibility: collapse;
}

