/* Prettified by Source 2 Viewer 15.0.0.0 - https://valveresourceformat.github.io */

#SecondAbilitiesContainer
{
	horizontal-align: right;
	vertical-align: bottom;
	margin-right: 230px;
	margin-bottom: 145px;
	flow-children: right;
	padding-left: -6px;
	transition-duration: 0.2s, 0.3s;
	transition-property: opacity, transform;
	transition-timing-function: ease-out, ease-in-out;
	opacity: 0.0;
	transform: translateY(10px);
	z-index: -999;
}

#SecondAbilitiesContainer.ShowSecondAbilities
{
	opacity: 1.0;
	transform: none;
}

#SecondAbilitiesContainer.ShowSecondAbilities.HasPatchButton
{
	transform: translateY(-36px);
}

#SecondAbilitiesContainer.ShowSecondAbilities.Patching
{
	opacity: 0.0;
	transform: none;
}

.SecondAbilityContainer
{
	width: 60px;
	height: 60px;
}

.SecondAbility
{
	width: 60px;
	height: 60px;
	vertical-align: bottom;
	margin-left: 6px;
	tooltip-position: top;
	brightness: 1.0;
}

.SecondAbility:hover
{
	brightness: 2.0;
}

.SecondAbility:active
{
	brightness: 1.5;
}

#SecondAbilityImage
{
	width: 100%;
	height: 100%;
}

#CooldownContainer
{
	width: 100%;
	height: 100%;
	vertical-align: bottom;
}

#CooldownBackground_
{
	width: 100%;
	height: 100%;
	background-color: #000000d9;
}

#CooldownLabel
{
	vertical-align: bottom;
	padding: 0px 3px;
	text-overflow: shrink;
	text-shadow: 2px 2px 4px 2 black;
	transform: translateY(2px);
	font-size: 16px;
	color: #999;
}

#KeybindModifiers
{
	flow-children: right;
}

.SecondAbilityContainer:hover #KeybindContainer
{
	opacity: 1.0;
}

#KeybindContainer
{
	margin-top: 20px;
	margin-left: 4px;
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.2s;
}

#Keybind
{
	vertical-align: top;
	horizontal-align: left;
	margin-top: 14px;
	min-height: 14px;
	max-width: 70px;
	max-height: 15px;
	background-color: #212726;
	box-shadow: fill #000000dd 1px 0px 2px 2px;
	border-radius: 4px;
	border: 1px solid black;
}

#KeybindLabel
{
	color: white;
	text-shadow: 1px 1px 0px 2 #000000;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	text-overflow: shrink;
	horizontal-align: center;
	margin: 0px 0px -2px 0px;
}

#KeybindModifier
{
	box-shadow: fill #000000dd 1px 0px 2px 2px;
	border-radius: 2px;
}

#AltBind
{
	color: white;
	text-shadow: 1px 1px 2px 2 #000000;
	font-size: 10px;
	padding-left: 2px;
	margin-left: 6px;
	padding-top: 1px;
	font-weight: thin;
	visibility: visible;
}

